config SOC_IMX23
	bool
	select ARM_AMBA
	select ARM_CPU_SUSPEND if PM
	select CPU_ARM926T
	select PINCTRL_IMX23

config SOC_IMX28
	bool
	select ARM_AMBA
	select ARM_CPU_SUSPEND if PM
	select CPU_ARM926T
	select PINCTRL_IMX28

config ARCH_MXS
	bool "Freescale MXS (i.MX23, i.MX28) support"
	depends on ARCH_MULTI_V5
	select ARCH_REQUIRE_GPIOLIB
	select CLKSRC_MMIO
	select PINCTRL
	select SOC_BUS
	select SOC_IMX23
	select SOC_IMX28
	select STMP_DEVICE
	help
	  Support for Freescale MXS-based family of processors

config MACH_RI_ETU_HE910
	bool "Support for Telit he910 GSM module"
	help
	  Include support for the Telit HE910 GSM module
	  that is attached to the usb-bus on the ri-etu board

config MACH_RI_ETU_SAIF_TEST
	default n
	bool "Simple test module for SAIF interface"

endif
